# --- Streamlit e base ---
streamlit
pandas
requests
python-dotenv

# --- Machine Learning ---
tensorflow
gdown

# --- Processamento de imagem e vídeo ---
opencv-python-headless
imageio
imageio-ffmpeg

# --- Visualização ---
plotly

# --- Outros utilitários ---
retries
matplotlib
